.grid-container {
    background-color: rgba(86, 82, 122, 0.637);
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas: "logo header" "menu contant";
}

.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;
}

.header {
    background-color: rgba(86, 82, 122, 0.637);
    grid-area: header;
}

.contant {
    grid-area: contant;
}