@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton|Righteous');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(236, 234, 234);
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.menu {
    width: 280px;
    
    display: inline-block;
    line-height: 18px;
    height: 90vh;
}

.logo {
    display: block;
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(196, 175, 175, 0.25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.header .nav {
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

#search-box {
    display: block;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.shadow-base {
    text-shadow: 3px 3px 3px black;
}

.logo-title {
    font-family: 'Anton', sans-serif;
}

.fa-d-and-d {
    font-size: 40px;
    color: rgb(220, 53, 69);
    font-weight: lighter;
}

.menu .side-menu {
    width: 100%;
}

.menu ul {
    list-style: none;
}

.menu .side-menu li a {
    color: white;
    display: block;
    padding: 15px 20px;
    border-bottom: 2px solid #1C2331;
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#6a8096, rgb(67, 93, 117)), rgb(66, 87, 109);
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.menu .side-menu li a:hover {
    text-decoration: none;
    border-left: 2px solid red;
}

.menu .side-menu .icon {
    font-size: 12px;
    line-height: 18px;
}

.menu .side-menu .icon.left {
    float: left;
    margin-right: 10px;
}

.menu .side-menu .icon.right {
    float: right;
    margin-left: 10px;
}

.menu .side-menu ul {
    display: none;
}

.menu .side-menu ul li a {
    background-color: rgb(38, 62, 110);
}

.menu .side-menu .active>a {
    color: #E7E7E7;
    font-weight: 500;
}

.menu .search-bar {
    border-radius: 20% 10%;
}

.side-menu li .btn-group {
    position: fixed;
    bottom: 0;
}

.side-menu li .btn-group .btn {
    width: 94px;
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#8ba6be, #2C4257), #2A3F54;
    box-shadow: rgba(182, 32, 32, 0.25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}